<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Crie sua Conta!</h1>
                            </div>
                            <form class="user" method="POST" action="">
                                <div class="form-group">
                                    <label for="nome">Nome</label>
                                    <input type="text" class="text-center form-control form-control-user" id="nome" placeholder="Digite seu nome:" name="nome" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input type="email" class="text-center form-control form-control-user" id="email" placeholder="Digite seu e-mail:" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="tel">Telefone</label>
                                    <input type="int" class="text-center form-control form-control-user" id="tel" placeholder="Digite seu telefone:" name="telefone" required>
                                </div>
                                <div class="form-group">
                                    <label for="cep">CEP</label>
                                    <input type="input" class="text-center form-control form-control-user" id="cep" placeholder="Digite seu CEP:" name="cep" required>
                                </div>
                                <div class="form-group">
                                    <label for="senha">Senha</label>
                                    <input type="password" class="text-center form-control form-control-user" id="senha" placeholder="Digite sua senha:" name="senha">
                                    <!-- <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password">
                                    </div> -->
                                </div>
                                <input type="submit" class="btn btn-primary btn-user btn-block" value="Cadastrar">
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Cadastre-se com Google
                                </a>
                                <!-- <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a> -->
                            </form>
                            <hr>
                            <div class="text-center">
                                <!-- <a class="small" href="forgot-password.html">Forgot Password?</a> -->
                            </div>
                            <div class="text-center">
                                <a class="small" href="../../index.php">Já tem uma conta? Faça o Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>

    <!-- Bootstrap core JavaScript-->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../js/sb-admin-2.min.js"></script>
    <script src="/projects/crud-php/vendor/jquery/jquery.mask.min.js"></script>
</body>
<script>
    $(document).ready(function() {
        $('#tel').mask('+00 (00) 0 0000-0000');
        $('#cep').mask('00000-000');
    });

    // Intercepta o envio do formulário para enviar via AJAX
    $('.user').on('submit', function(e) {
        e.preventDefault();

        const $submitButton = $(this).find('input[type="submit"]');
        $submitButton.val('Enviando...').prop('disabled', true);

        const dados = {
            nome: $('#nome').val(),
            email: $('#email').val(),
            telefone: $('#tel').cleanVal(),
            cep: $('#cep').cleanVal(),
            senha: $('#senha').val()
        };

        $.ajax({
            url: '/projects/crud-php/src/cadastro.php',
            method: 'POST',
            data: dados,
            dataType: 'json',
            success: function(response) {
                // Manipula a resposta de sucesso do servidor
                if (response.status === 'success') {
                    alert('Cadastro realizado com sucesso!');
                    window.location.href = '/projects/crud-php/index.php';
                } else {
                    alert('Erro no cadastro: ' + (response.message || 'Ocorreu um erro desconhecido.'));
                }
            },
            complete: function() {
                $submitButton.val('Cadastrar').prop('disabled', false);
                window.location.href = '/projects/crud-php/index.php';
            }
        });
    });
</script>
</html>
